{% load custom_tags %}

<form action="" method="get" class="w-100" novalidate>
  <div class="input-group">
    <span class="input-group-text rounded-0">🔍</span>
    <label for="search_value" class="visually-hidden"></label>
    <input type="hidden" name="search_field" value="{{ search_field }}">
    <input id="search_value" name="search_value" type="search" class="form-control rounded-0" placeholder="Search..."
           value="{{ search_value }}">
    {% if user.is_authenticated %}
      {% if create_url == 'kitchen:cook_create' %}
        <a href="{% url 'kitchen:cook_create' %}"
           class="btn btn-outline-success btn-sm d-flex align-items-center justify-content-center"
           style="height: 38px; width: 38px;" title="Create Cook">
          ➕
        </a>
      {% elif create_url == 'kitchen:dish_create' %}
        <a href="{% url 'kitchen:dish_create' %}"
           class="btn btn-outline-success btn-sm d-flex align-items-center justify-content-center"
           style="height: 38px; width: 38px;" title="Create Dish">
          ➕
        </a>
      {% elif create_url == 'kitchen:dishtype_create' %}
        <a href="{% url 'kitchen:dishtype_create' %}"
           class="btn btn-outline-success btn-sm d-flex align-items-center justify-content-center"
           style="height: 38px; width: 38px;" title="Create Dish Type">
          ➕
        </a>
      {% endif %}
    {% endif %}
  </div>
</form>
