{% load custom_tags %}

<form action="" method="get" class="w-100" novalidate>
  <div class="input-group">
    <span class="input-group-text rounded-0">🔍</span>
    <label for="search_value" class="visually-hidden"></label>
    <input type="hidden" name="search_field" value="{{ search_field }}">
    <input id="search_value" name="search_value" type="search" class="form-control rounded-0" placeholder="Search..."
           value="{{ search_value }}">
    {% if user.is_authenticated %}
      <a href="{% url 'kitchen:cook-create' %}"
         class="btn btn-outline-success btn-sm d-flex align-items-center justify-content-center"
         style="height: 38px; width: 38px;" title="Create">
        ➕
      </a>
    {% endif %}
  </div>
</form>
