{% load custom_tags %}

<h1 class="display-4 text-start mb-4">{{ title }}</h1>
<form action="" method="get" class="w-100" novalidate>
  <div class="input-group">
    <span class="input-group-text rounded-0">🔍</span>
    <label for="search_value" class="visually-hidden"></label>
    <input type="hidden" name="search_field" value="{{ search_field }}">
    <input id="search_value" name="search_value" type="search" class="form-control rounded-0" placeholder="Search..."
           value="{{ search_value }}">
    {% if user.is_authenticated %}
      <a href="{{ view.model.get_create_url }}" class="btn btn-success d-flex align-items-center">Create</a>
    {% endif %}
  </div>
</form>
