<nav class="navbar navbar-light navbar-expand
            bg-body-secondary"
>
  <div class="container">
    <a class="navbar-brand" href="{% url "kitchen:index" %}">
      Kitchen Service
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url "kitchen:cook-list" %}">Cooks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "kitchen:dish-list" %}">Dishes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "kitchen:dishtype-list" %}">Dish Types</a>
      </li>
    </ul>
    <div class="row">
      {% if user.is_authenticated %}
        <div class="col">
          <a class="nav-link" href="{{ user.get_absolute_url }}">@{{ user.get_username }}</a>
        </div>
        <div class="col d-flex align-items-center">
          <form action="{% url "logout" %}" method="post">
            {% csrf_token %}
            <button type="submit" class="nav-link">Logout</button>
          </form>
        </div>
      {% else %}
        <div class="col">
          <a class="nav-link" href="{% url "login" %}?next={{ request.path }}">Login</a>
        </div>
      {% endif %}
    </div>
  </div>
</nav>
