{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block main %}
  <div class="card text-center">
    <div class="card-header display-6">
      <h2 class="text-center">
        {% if cook.pk %}
          Update cook
        {% else %}
          Create a new cook
        {% endif %}
      </h2>
    </div>
    <div class="card-body">
      <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success me-2">Submit</button>
        <a href="{% url 'kitchen:cook-list' %}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
