{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block main %}
  <div class="card text-center">
    <div class="card-header">
      <h2 class="text-center">
        {% if form.instance.pk %}
          Update dish
        {% else %}
          Create a new dish
        {% endif %}
      </h2>
    </div>
    <div class="card-body">
      <form method="post" class="was-validated">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Submit</button>
        <a href="{% url 'kitchen:dish-list' %}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
